/*

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

*/
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}